.profilpicture {
	float: right;
	height: 135px;
	margin-left: 5px;
}

@media only screen and (min-width: 76.25em){
	.md-header-nav__button
{
	margin-top: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0.8rem !important;
	
	padding: .4rem !important;
}
}